@page
@model STIVE.CL.Pages.Add.AddBonusModel

@{
ViewData["Title"] = "Ajouter un bonus";
}

<h1>Ajouter un bonus</h1>

<div id="bonusFormContainer">
    <form method="post">
        <div class="form-group">
            <label asp-for="Bonus.BonusName">Nom du bonus</label>
            <input asp-for="Bonus.BonusName" class="form-control" placeholder="Entrez le nom du bonus" required />
            <span asp-validation-for="Bonus.BonusName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bonus.Description">Description du bonus</label>
            <input asp-for="Bonus.Description" class="form-control" placeholder="Entrez la description du bonus" required />
            <span asp-validation-for="Bonus.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bonus.BonusDuration">Durée du bonus</label>
            <input asp-for="Bonus.BonusDuration" class="form-control" placeholder="Entrez la durée du bonus" required />
            <span asp-validation-for="Bonus.BonusDuration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Bonus.BonusPrice">Prix du bonus</label>
            <input asp-for="Bonus.BonusPrice" class="form-control" placeholder="Entrez le prix du bonus" required />
            <span asp-validation-for="Bonus.BonusPrice" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
