@page
@model STIVE.CL.Pages.Add.AddCustomerModel

@{
ViewData["Title"] = "Ajouter un client";
}

<h1>Ajouter un client</h1>

<div id="customerFormContainer">
    <form method="post">
        <div class="form-group">
            <label asp-for="Customer.CustomerName">Nom du client</label>
            <input asp-for="Customer.CustomerName" class="form-control" placeholder="Entrez le nom du client" required />
            <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Customer.CustomerPicture">Chemin vers l'image</label>
            <input asp-for="Customer.CustomerPicture" class="form-control" placeholder="Entrez le chemin vers l'image" required />
            <span asp-validation-for="Customer.CustomerPicture" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
