@page
@model STIVE.CL.Pages.Add.AddGameDataModel

@{
ViewData["Title"] = "Ajouter une sauvegarde";
}

<h1>Ajouter une sauvegarde</h1>

<div id="gamedataFormContainer">
    <form method="post">
        <div class="form-group">
            <label asp-for="GameData.UserId">Utilisateur associé</label>
            <select asp-for="GameData.UserId" class="form-control" required >
                <option value="">--Nom de l'utilisateur--</option>
                @foreach (var user in Model.Users)
                {
                <option value="@user.UserId">@user.UserName</option>
                }
            </select>
            <span asp-validation-for="GameData.UserId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
