@page
@model STIVE.CL.Pages.Add.AddPotionModel

@{
ViewData["Title"] = "Ajouter une potion";
}

<h1>Ajouter une potion</h1>

<div id="potionFormContainer">
    <form method="post">
        <div class="form-group">
            <label asp-for="Potion.PotionName">Nom de la potion</label>
            <input asp-for="Potion.PotionName" class="form-control" placeholder="Entrez le nom de la potion" required />
            <span asp-validation-for="Potion.PotionName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Potion.PotionPrice">Prix de la potion</label>
            <input asp-for="Potion.PotionPrice" class="form-control" placeholder="Entrez le prix de la potion" required />
            <span asp-validation-for="Potion.PotionPrice" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Potion.PotionPicture">Chemin vers l'image</label>
            <input asp-for="Potion.PotionPicture" class="form-control" placeholder="Entrez le chemin vers l'image" required />
            <span asp-validation-for="Potion.PotionPicture" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
