@page
@model STIVE.CL.Pages.GameModel

@{
    ViewData["Title"] = "Le jeu";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="image-container position-relative text-end pt-5">
        <img src="image/Title.png" class="img-fluid" alt="Livre" style="width: 85%; height: 100px"/>
        <div class="position-absolute overlay-div" style="top: 48%; left: auto; width: 90%; height: 30%;">
            <p>Devenez le plus grand alchimiste du royaume</p>
        </div>
    </div>
    <div class="image-container position-relative text-end">
        <img src="image/Mage.png" class="img-fluid position-absolute" style="left: -8%;" alt="Mage"/>
        <img src="image/PaperCarre.png" class="img-fluid ml-5" style="width: 70%" alt="Paper"/>
        <div class="position-absolute overlay-div text-center align-content-center" style="top: 5%; left: 34%; width: 62%; height: 90%;">
            <p>Reprenez la boutique familiale et faites honneur à votre ancêtre.</p><hr/>
            <p>Vendez des potions pour accroître vos gains.</p><hr/>
            <p>Investissez chez de nouveaux fournisseurs pour diversifier votre offre.</p><hr/>
            <p>Devenez le plus grand marchand de potions du royaume !</p>
        </div>
    </div>
</div>