@page
@model STIVE.CL.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="image-container position-relative pt-5 pb-5">
        <img src="image/Book.png" class="img-fluid" alt="Livre" style="width: 100%;"/>
        <div class="position-absolute overlay-div" style="top: 16%; left: 11%; width: 36%; height: 66%;">
            <img src="image/PageAccueil.png" class="img-fluid" alt="Accueil" style="width: 100%"/>
        </div>
        <div class="position-absolute overlay-div align-content-center" style="top: 16%; left: 53%; width: 36%; height: 66%;">
            <p>Rejoignez l'aventure dès maintenant !</p>
            <br/><a href="#" download class="button">Jouer gratuitement</a>
            <br/><br/><br/><p>Déjà plus de @Model.UserCount joueurs</p>
        </div>
    </div>
</div>