@page
@model STIVE.CL.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="image-container position-relative pt-5">
        <img src="image/PaperRectangle1.png" class="img-fluid" alt="Livre" style="width: 80%; height: fit-content"/>
        <div class="position-absolute overlay-div align-content-center" style="top: 18%; left: 10%; width: 81%; height: auto">
            <form method="post" class="w-100 d-flex flex-column align-items-center">
                <div class="form-group w-75 mb-2">
                    <label asp-for="userLoginDto.UserName">Identifiant</label>
                    <span asp-validation-for="userLoginDto.UserName" class="text-danger"></span>
                    <input asp-for="userLoginDto.UserName" class="form-control"/>
                </div>
                <div class="form-group w-75 mb-2">
                    <label asp-for="userLoginDto.Password">Mot de passe</label>
                    <span asp-validation-for="userLoginDto.Password" class="text-danger"></span>
                    <input asp-for="userLoginDto.Password" type="password" class="form-control"/>
                </div>
                <button type="submit" class="button m-2">Se connecter</button>
                <div>
                    <a asp-page="/register">Vous n'avez pas de compte ? Inscrivez-vous ICI !</a>
                </div>
            </form>
            @if (Model.ErrorMessage != null)
            {
            <p style="color:red;">@Model.ErrorMessage</p>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
