@page
@model STIVE.CL.Pages.RegisterModel

@{
    ViewData["Title"] = "Register";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <div class="image-container position-relative pt-5 mb-5">
        <img src="image/PaperRectangle1.png" class="img-fluid" alt="Livre" style="width: 80%; height: 830px"/>
        <div class="position-absolute overlay-div align-content-center" style="top: 18%; left: 10%; width: 81%; height: auto">
            <form method="post" class="w-100 d-flex flex-column align-items-center">
                <div class="form-group w-75 mb-2">
                    <label asp-for="UserRegister.UserName">Pseudo</label>
                    <span asp-validation-for="UserRegister.UserName" class="text-danger"></span>
                    <input asp-for="UserRegister.UserName" class="form-control"/>
                </div>
                <div class="form-group w-75 mb-2">
                    <label asp-for="UserRegister.Email">Email</label>
                    <span asp-validation-for="UserRegister.Email" class="text-danger"></span>
                    <input asp-for="UserRegister.Email" class="form-control"/>
                </div>
                <div class="form-group w-75 mb-2">
                    <label asp-for="UserRegister.PhoneNumber">Téléphone</label>
                    <span asp-validation-for="UserRegister.PhoneNumber" class="text-danger"></span>
                    <input asp-for="UserRegister.PhoneNumber" class="form-control"/>
                </div>
                <div class="form-group w-75 mb-2">
                    <label asp-for="UserRegister.Password">Mot de passe</label>
                    <span asp-validation-for="UserRegister.Password" class="text-danger"></span>
                    <input asp-for="UserRegister.Password" class="form-control" type="password"/>
                </div>
                <div class="form-group w-75 mb-2">
                    <label asp-for="UserRegister.ConfirmPassword">Confirmez le mot de passe</label>
                    <span asp-validation-for="UserRegister.ConfirmPassword" class="text-danger"></span>
                    <input asp-for="UserRegister.ConfirmPassword" class="form-control" type="password" />
                </div>
                <button type="submit" class="button m-2">Register</button>
                <div>
                    <a asp-page="/login">Déjà un compte ? Connectez vous ici !</a>
                </div>
            </form>
        </div>
    </div>
</div>