@page
@model STIVE.CL.Pages.Update.CustomerUpdateModel

@{
ViewData["Title"] = "Modifier le client";
}

<h1>Modifier le client</h1>

<div id="customerFormContainer">
    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerId" />

        <div class="form-group">
            <label asp-for="Customer.CustomerName">Nom du client</label>
            <input asp-for="Customer.CustomerName" class="form-control" />
            <span asp-validation-for="Customer.CustomerName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Customer.CustomerPicture">Chemin vers l'image</label>
            <input asp-for="Customer.CustomerPicture" class="form-control" />
            <span asp-validation-for="Customer.CustomerPicture" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>