@page
@model STIVE.CL.Pages.Update.SupplierUpdateModel

@{
ViewData["Title"] = "Modifier le fournisseur";
}

<h1>Modifier le fournisseur</h1>

<div id="supplierFormContainer">
    <form method="post">
        <input type="hidden" asp-for="Supplier.SupplierId" />

        <div class="form-group">
            <label asp-for="Supplier.SupplierName">Nom du fournisseur</label>
            <input asp-for="Supplier.SupplierName" class="form-control" />
            <span asp-validation-for="Supplier.SupplierName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Supplier.SupplierPicture">Chemin vers l'image</label>
            <input asp-for="Supplier.SupplierPicture" class="form-control" />
            <span asp-validation-for="Supplier.SupplierPicture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Supplier.PotionId">Potion associée</label>
            <select asp-for="Supplier.PotionId" class="form-control">
                @foreach (var potion in Model.Potions)
                {
                <option value="@potion.PotionId">@potion.PotionName</option>
                }
            </select>
            <span asp-validation-for="Supplier.PotionId" class="text-danger"></span>
        </div>
        

        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </form>
</div>